include struct/header.pug

.sc-title
    |Instagram
.sc-p
    |Instagram — американская социальная сеть для обмена фотографиями и видео, основанная Кевином Систромом и Майком Кригером. В апреле 2012 года компания Facebook Inc. (ныне Meta) приобрела сервис примерно за 1 миллиард долларов США наличными и акциями. Приложение позволяет пользователям загружать медиафайлы, которые можно редактировать с помощью фильтров и организовывать с помощью хештегов и географических меток.

include struct/footer.pug