include struct/header.pug

.sc-title
    |Tumblr
.sc-p
    |Tumblr (произн. «тамблер») — служба микроблогов, включающая в себя множество картинок, статей, видео и gif-изображений по разным тематикам и позволяющая пользователям публиковать посты в их тамблелог (англ. tumblelog). Пользователь может подписываться (англ. follow) на блоги других пользователей, после чего их записи будут появляться на его ленте новостей (англ. dashboard). Сервис характеризует себя как «простейший способ вести блог» (англ. “The easiest way to blog”). Генеральным директором Tumblr является Дэвид Карп (англ. David Karp).

include struct/footer.pug