include struct/header.pug

.sc-title
    |Twitter
.sc-p
    |«Twitter», в процессе ребрендинга в X, — американский сервис микроблогов и социальная сеть, в которой пользователи публикуют сообщения, известные как «твиты», и взаимодействуют с ними. Пользователи взаимодействуют с X через браузер, мобильное приложение или через API. До апреля 2020 года сервисы были доступны через SMS. Сервис предоставляется компанией X Corp — преемницей Twitter, Inc., которая базировалась в Сан-Франциско, Калифорния, и имела более 26 офисов по всему миру. Первоначально твиты были ограничены 140 символами, но в 2017 году ограничение было удвоено до 280 для большинства языков. Аудио- и видеотвиты остаются ограниченными 140 секундами для большинства аккаунтов.

include struct/footer.pug