include struct/header.pug

.sc-title
    |Viber
.sc-p
    |Viber ([vaɪbə], «Вайбер») — приложение-мессенджер, которое позволяет отправлять сообщения, совершать видео- и голосовые VoIP-звонки через интернет. Голосовые вызовы между пользователями с установленным Viber бесплатны (оплачивается только интернет-трафик по тарифу оператора связи). Viber имеет возможность отправлять текстовые, голосовые и видеосообщения, документы, изображения, видеозаписи и файлы, а также работать в автономном режиме. Для авторизации пользователей и поиска контактов приложение использует номер телефона и передаёт содержимое телефонной адресной книги (имена и телефоны всех контактов) на серверы корпорации Viber Media S.à r.l., Люксембург. Они же собирают информацию о совершенных звонках и переданных сообщениях, длительности звонков, участниках звонков и чатов — в целях улучшения качества обслуживания и в иных целях.

include struct/footer.pug