body
	margin 0
	font-size 1.2em

.head-flex
	display flex
	background-color gray
	justify-content end
	input
		width 700px
		height 20px
	img
		width 100%
		height 100%
	button
		width 30px
		height 26px
		background-color gray

.head-flex-item
	padding 5px 0

.title-grid
	display grid
	background-image url('/img/sky.png')
	background-size 100%
	grid-template-columns 100%
	grid-template-rows 100px 50px
	&__title0
		grid-column 1 / 2
		grid-row 1 / 2
		text-align center
		margin-top 25px
	&__menu-flex
		grid-column 1 / 2
		grid-row 2 / 3
	a
		text-decoration none
		color black

.title-grid__menu-flex
	display flex
	justify-content end
	height 65px

.menu-flex__menu-item
	padding-top 10px
	padding-left 10px
	padding-right 30px
	padding-bottom 30px

#current
	background-color rgba(0, 0, 0, 0.1)

.content
	display flex
	padding 15px
	border solid thin gray

.center
	width 55%

.images-grid
	display grid
	grid-template-columns 1fr 1fr
	margin 3% 5%
	text-align justify
	img
		width 100px
		height 100px
	&__item1-2
		grid-column 1 / 3
		grid-row 1 / 2
	&__item-3
		grid-column 1 / 2
		grid-row 2 / 3
		padding 10px
	&__item-4
		grid-column 2 / 3
		grid-row 2 / 3
		padding 10px
	&__item-5
		grid-column 1 / 2
		grid-row 3 / 4
		padding 10px
	&__item-6
		grid-column 2 / 3
		grid-row 3 / 4
		padding 10px

.images-grid__item1-2
	display flex
	& > div
		border solid thin gray
		padding 10px
	img
		width 100%
		height 200px

#left
	width 70%

#right
	width 30%
	margin-left 30px

.zag
	text-align center

.item-flex
	display flex
	justify-content left
	align-items center
	img
		width 300px

@media (max-width: 1000px)
	.title-grid
		display grid
		grid-template-columns 1fr 1fr
		grid-template-rows 1fr 1fr
		background-image url()
		&__title0
			grid-column 1 / 3
			grid-row 1 / 2
		text-align center
		&__menu-flex
			grid-column 1 / 3
			grid-row 2 / 3
	.title-grid__menu-flex
		display grid
		grid-template-columns 1fr 1fr
		grid-template-rows 1fr 1fr
		justify-items center
	.images-grid
		display grid
		grid-template-columns 1fr
		text-align justify
		margin-top 50px
		&__item1-2
			grid-column 1 / 2
			grid-row 1 / 3
		&__item-3
			grid-column 1 / 2
			grid-row 3 / 4
			padding 10px
		&__item-4
			grid-column 1 / 2
			grid-row 4 / 5
			padding 10px
		&__item-5
			grid-column 1 / 2
			grid-row 5 / 6
			padding 10px
		&__item-6
			grid-column 1 / 2
			grid-row 6 / 7
			padding 10px
	.images-grid__item1-2
		display grid
		grid-template-columns 1fr
		grid-template-rows 1fr 1fr
		grid-row-gap 10px
	#left
		width 100%
	#right
		width 100%
		margin-left 0